blinker
click
colorama
dominate
Flask
Flask-Bootstrap
Flask-Moment
itsdangerous
Jinja2
MarkupSafe
packaging
visitor
Werkzeug
gunicorn
SQLAlchemy
Flask-SQLAlchemy
Flask-Migrate
Flask-Login
Flask-WTF
WTForms
Flask-Cors
Flask-Mail
Flask-RESTful
Flask-Script
requests