<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        {% include 'sb-admin-2/dashboard-base/dashboard-body-sidebar-base.html' %}

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                {% include 'sb-admin-2/dashboard-base/dashboard-body-topbar-base.html' %}

                <!-- Begin Page Content -->
                <div class="container-fluid">
                {% block content %}

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">{% block header_title %}Coucou{% endblock %}</h1>
                        <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                                class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
                    </div>

                    <!-- Content Row -->
                    {% include 'sb-admin-2/dashboard-base/dashboard-body-cards-base.html' %}

                    <!-- Content Row -->

                    <div class="row">

                        <!-- Area Chart -->
                        {% include 'sb-admin-2/dashboard-base/dashboard-body-areacharts-base.html' %}

                        <!-- Pie Chart -->
                        {% include 'sb-admin-2/dashboard-base/dashboard-body-piecharts-base.html' %}

                    </div>

                    <!-- Content Row -->
                    <div class="row">

                        <!-- Content Column -->
                        <div class="col-lg-6 mb-4">

                            <!-- Project Card Example -->
                            {% include 'sb-admin-2/dashboard-base/dashboard-body-projectcard-base.html' %}

                            <!-- Color System -->
                            {% include 'sb-admin-2/dashboard-base/dashboard-body-colorsystem-base.html' %}


                        </div>

                        <div class="col-lg-6 mb-4">

                            <!-- Illustrations -->
                            {% include 'sb-admin-2/dashboard-base/dashboard-body-illustrations-base.html' %}

                            <!-- Approach -->
                            {% include 'sb-admin-2/dashboard-base/dashboard-body-approach-base.html' %}

                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

                {% endblock %}

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            {% include 'sb-admin-2/dashboard-base/dashboard-body-footer-base.html' %}
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{{ url_for('static', filename='vendor/jquery-easing/jquery.easing.min.js') }}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{{ url_for('static', filename='js/sb-admin-2.min.js') }}"></script>

    <!-- Page level plugins -->
    <script src="{{ url_for('static', filename='vendor/chart.js/Chart.min.js') }}"></script>

    <!-- Page level custom scripts -->
    <script src="{{ url_for('static', filename='js/demo/chart-area-demo.js') }}"></script>
    <script src="{{ url_for('static', filename='js/demo/chart-pie-demo.js') }}"></script>

</body>