{% extends "bootstrap/base.html" %}
<html>
<head>{% block title %}Remindr - Login{% endblock %}
</head>
<body>


{% block navbar %}
<div class="navbar navbar-fixed-top">
  <!-- ... -->
</div>
{% endblock %}

{% block content %}
  <script>
  {{moment.include_moment()}}
  </script>

  <h1>Login</h1>

  <p><a href="/">Accueil</a></p>

  {% if username_in_session %}
    <h1>Hello {{ username_in_session }}!</h1>
  {% else %}
    <form method=post action="">
      Nom d'utilisateur <input type="text" name="username" />
      <input type="submit" value="Login" />
    </form>
  {% endif %}
{% endblock %}




</body>
</html>