{% extends "base.html" %}


{% block title %}Login{% endblock %}

{% block content %}
  <script>
  {{moment.include_moment()}}
  </script>

  <h1>Login</h1>

  <p><a href="{{ url_for('hello_world') }}">Accueil</a></p>

  {% if username_in_session %}
    <h3>Hello {{ username_in_session }}!</h3>
  {% else %}
    <form method=post action="">
      <label for="validationCustom05" class="form-label">Nom d'utilisateur </label>

      <input id="validationCustom05" class="form-control" type="text" name="username" />
      <input class="btn btn-primary" type="submit" value="Login" />
    </form>
  {% endif %}
{% endblock %}