{% extends "bootstrap/base.html" %}
{% block html_attribs %} lang="en"{% endblock %}
{% block title %}Remindr - Accueil{% endblock %}

    {%block head%}
    {{super()}}
    {{ moment.include_moment() }}
    {{ moment.locale("fr") }}

    {%endblock%}

{% block content %}
    <h2>Template Accueil</h2>

    <p>Nous sommes le {{ moment().format('DD/MM/YYYY à hh:mm:ss', refresh=True) }}.</p>


    {% if session['username'] %}
        <h3>Bienvenue sur Remindr {{session['username']}} !</h3>
        <p><a href="/logout">Logout</a></p>

    {% else %}
        <h3>Bienvenue sur Remindr ! Veuillez vous <a href="/login">connecter</a>.</h3>
    {% endif %}

{% endblock %}
