{% extends "base.html" %}

{% block title %}Accueil{% endblock %}
{% block head %}
  {{ super() }}
  
{% endblock %}

{{ moment.include_moment() }}
{{ moment.locale("fr") }}


{% block content %}
    <h1>Template Accueil</h1>

    <p>Nous sommes le {{ moment().format('DD/MM/YYYY à hh:mm:ss', refresh=True) }}.</p>


    {% if session['username'] %}
    <h3>Bienvenue sur Remindr {{session['username']}} !</h3>
    <p><a href="{{ url_for('logout') }}">Logout</a></p>
    {% else %}
    <h3>Bienvenue sur Remindr ! Veuillez vous <a href="{{ url_for('login') }}">connecter</a>.</h3>
    {% endif %}

{% endblock %}
