{% extends "bootstrap/base.html" %}
<html>
<head>{% block title %}Remindr - Accueil{% endblock %}</head>

{% block content %}
<body>

<script>
{{moment.include_moment()}}
</script>

<h2>Template Accueil</h2>

<p>Il est {{moment(current_time).format('LLL')}}</p>

<p></p>


{% if session['username'] %}
<h3>Bienvenue sur Remindr {{session['username']}} !</h3>
<p><a href="/logout">Logout</a></p>

{%else%}
<h3>Bienvenue sur Remindr ! Veuillez vous <a href="/login">connecter</a>.</h3>
{%endif%}

</body>
{% endblock %}
</html>